{% macro render_table(name, dataframe)%}
<p>
    <b>{{name}} </b>
</p>
<!-- количество строк в таблице -->
{% set n = len(dataframe) %}
{% set ns = namespace(e = False)%}
<table>
    <!-- формируем заголовок таблицы (имена столбцов) -->
    <tr>
        {% for name in dataframe.dtypes.index %}
        <th>{{name}}</th>
        {% endfor %}
    </tr>
    <tbody>
        <!-- для всех строк таблицы -->
        {% for i in range(n) %}
        <tr class="{% if ns.e %}even{% else %}odd{% endif %}">
            {% set ns.e = not(ns.e) %}
            <!-- выводим значение каждого столбца -->
            {% for name in dataframe.dtypes.index %}
            {% set ggg = dataframe.loc[i, name]%}
            <td> {% if ggg == None %}<button>Сдать</button>{% else %}{{ ggg }}{% endif %} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro list(reader_id, combo_box) %}
<p>
<form>
    Читатель:
    <select name="reader">
        {% set n = len(combo_box) %}
        {% for i in range(n) %}
        {% set id_r = combo_box.loc[i, "reader_id"] %}
        <!-- атрибут value элемента будет совпадать с id читателя -->
        {% if id_r == reader_id %}
        <!-- если код читателя из таблицы совпадает с кодом
текущего читателя устанавливаем атрибут selected -->
        <option selected value={{id_r}}>
            {% else %}
        <option value={{id_r}}>
            {% endif %}
            {{ combo_box.loc[i, "reader_name"] }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Найти">
</form>
</p>
{% endmacro %}

<html>

<style>
    * {
        padding: 0;
        margin: 0;
    }

    .table-container {
        margin: auto;
        padding: 10px;
        border: solid thin blue;
        width: max-content;
    }

    .table-container>div {
        margin: 10px;
    }

    .table-container>div>p {
        margin: auto;
    }

    table {
        border-collapse: collapse;
        margin-top: 10px;
    }

    td,
    th {
        border: solid thin rgba(175, 175, 175, 0.604);
        padding: 3px;
    }

    td {
        text-align: left;
    }

    .even,
    th {
        background-color: rgb(167, 167, 167);
    }
</style>

<head>
    <title> Карточка читателя </title>
</head>

<body>
    <div class="table-container">
        {{ list(reader_id, combo_box) }}

        <div>{{ render_table("Карточка", book_reader)}}</div>
    </div>
</body>

</html>